{{#extend "stylesheets"}}
  {{>_styles}}
{{/extend}}

<h1>Hello, <span data-bind="text: fullName"> </span>!</h1>

<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>

<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {{#each context.people}}
      <tr>
        <td>{{first_name}} {{last_name}}</td>
        <td>{{company}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#extend "scripts"}}
  {{>_scripts}}
{{/extend}}
