/*---------------------------------------------------
  static.css
  ---------------------------------------------------*/

/* 
  Propeller will copy any CSS files in this folder
  and generate minified versions of them as well.
  
  CSS files in nested folders will be handled as well.
*/

h1 {
  color: #f00;
}
