---
title: "About"
slug: "about"
scripts:
  - "jquery_example"
---

<h3>This is the {{page.title}} screen.</h3>

<hr>

{{> content-example }}

<hr>

<h3>The content below has been appended by jQuery:</h3>
<p class="lead"></p>
<!-- find this javascript at src/app/js/scripts.js -->
