---
title: "Home Screen"
slug: "home"
---

<h3>Knockout data-binding:</h3>

<h2>Hello, <span data-bind="text: fullName"> </span>!</h2>

<p>First name: <input data-bind="value: firstName" /></p>
<p>Last name: <input data-bind="value: lastName" /></p>

<hr>

<h3>Back-end loop from CSV file with Handlebars:</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {{#each people}}
      <tr>
        <td>{{this.first_name}} {{this.last_name}}</td>
        <td>{{this.company}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<hr>

<h3>Front-end Loops from CSV with Knockout:</h3>
<p>This example requires a web server due to Access-Control-Allow-Origin policies. Double-clicking the dist/index.html file will not work.</p>
<table class="table table-striped">
  <thead>
    <tr><th>City</th><th>Country</th></tr>
  </thead>
  <tbody data-bind="foreach: places">
    <tr>
      <td data-bind="text: city"></td>
      <td data-bind="text: country"></td>
    </tr>
  </tbody>
</table>

<hr>

<h3>Append text with jQuery:</h3>
<p class="lead"></p>

<hr>

<h3>Sort Data with Lo-Dash and Render Graph with D3:</h3>
<p>This example requires a web server due to Access-Control-Allow-Origin policies. Double-clicking the dist/index.html file will not work.</p>
<p id="d3-target"></p>

<hr>

<h3>Render date with Moment:</h3>
<p id="moment-target"></p>

<hr>

<h3>Bootstrap modal toggle:</h3>

<!-- Button trigger modal -->
<p><a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Launch demo modal</a></p>

{{> bootstrap_modal}}
