---
title: "Home"
slug: "home"
scripts:
  - "home"
styles: 
  - "home"
---

<p><em>The above header is red because home.css, a CSS file unique for this page, has been loaded.</em></p>
<!-- find it at src/app/css/home.css -->

<hr>

<h3>This is the {{page.title}} screen.</h3>

<p>If you open the JavaScript console you'll see a message for this page.</p>

<hr>

<h3>The content below has been appended by jQuery:</h3>
<p class="lead"></p>
<!-- find this javascript at src/app/js/scripts.js -->
