<h1>{{site.title}}</h1>

<ul class="navigation">
  <li{{#is page.slug "home"}} class="active"{{/is}}><a href="index.html">Home</a></li>
  <li{{#is page.slug "about"}} class="active"{{/is}}><a href="about.html">About</a></li>
  <li{{#is page.slug "contact"}} class="active"{{/is}}><a href="contact.html">Contact</a></li>
</ul>
